@mixin wlan-control {

    .wlan-selector {

        overflow: hidden; //Fixes overflowing of edges ~URB!

        border-radius: var(--config-border-radius); //Added ability to control border-radius through global variable ~URB!

        @include fakrylic-border; //Injects Fake-Acrylic™ Border to match the rest of Windows 11 look ~URB!
        @include drop-shadow; //Injects Drop-Shadow effect ~URB!

        .bg-layer-1 {

            border-radius: 0; //Resets border-radius back to initial state ~URB!

            @include fakrylic; //Injects custom made acrylic material Fake-Acrylic™ to match the rest of Windows 11 look ~URB!

        }

// This part will be modified later down the road ~URB!
//        .wlan-selector-title {
//
//            @extend %section-title;
//
//        }
//
//        .wlan-selector-refresh {
//
//            @extend %actionable-button;
//
//            .slu-icon {
//
//                color: var(--color-gray-900);
//                animation: rotateToTheLeft 1s linear infinite;
//
//            }
//
//        }

        .wlan-selector-entries {

            @extend %list;

            padding-bottom: 10px;
            border-bottom: 1px solid var(--color-gray-300);
            overflow-y: auto;
            max-height: 30vh;

            .wlan-selector-empty {

                display: flex;
                align-items: center;
                justify-content: center;
                padding: 12px;
                font-style: italic;

            }

            .wlan-entry {

                display: flex;
                flex-direction: column;
                min-height: min-content;
                padding: 12px 10px;
                border-radius: 8px;
                gap: 10px;

                &:hover {

                    background-color: var(--color-gray-200);

                }

                &.wlan-entry-selected {

                    background-color: rgba(var(--system-accent-color-rgb), 0.2);

                }

                .wlan-entry-info {

                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-weight: 600;
                    gap: 8px;

                    .wlan-entry-info-ssid {

                        flex: 1;
                        color: var(--color-gray-800);
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;

                    }

                    .wlan-entry-info-channel {

                        font-size: 0.5rem;
                        color: var(--color-gray-600);
                        border: 1px solid var(--color-gray-600);
                        border-radius: 4px;
                        padding: 2px 4px;

                    }

                }

                .wlan-entry-fields {

                    display: flex;
                    flex-direction: column;
                    gap: 6px;

                }

                .wlan-entry-actions {

                    display: flex;
                    justify-content: flex-end;

                }

            }

        }

        .wlan-selector-footer {

            .wlan-selector-footer-button {

            @extend %actionable-button;

            }

        }

    }

}