@import "shared";
@import "media-control";
@import "wlan-control";

//Runtime-Variables for config page in SeelenUI Control Center ~URB!
:root {

  --config-border-radius: 6px; //New border-radius variable ~URB!

}

@include scrollbar; //Injects new unified scrollbar ~URB!

.ft-bar {

  > .bg-layers { > .bg-layer-2 {

      @include fakrylic; //Injects custom made acrylic material Fake-Acrylic™ to match the rest of Windows 11 look ~URB!

    }

  }

}

.ft-bar-item-context-menu-container, .tb-context-menu-container {

  overflow: auto; //Trims overflowing areas to edges (this includes even the scrollbar) ~URB!

  min-width: auto; //Changed min-width to auto so now it is determined by longest item ~URB!

  border-radius: var(--config-border-radius); //Added ability to control border-radius through global variable ~URB!

  @include fakrylic-border; //Injects Fake-Acrylic™ Border to match the rest of Windows 11 look ~URB!
  @include drop-shadow; //Injects Drop-Shadow effect ~URB!

  .bg-layer-1 {

    border-radius: 0; //Resets border radius to 0 ~URB!

    @include fakrylic; //Injects custom made acrylic material Fake-Acrylic™ to match the rest of Windows 11 look ~URB!

  }

  .tb-context-menu {

    > li {

      border-radius: calc(var(--config-border-radius) / 2) !important; //Added ability to control border-radius through global variable / 2 by calc() function ~URB!

      &:hover { background: var(--color-gray-200) !important; } //Darker higlight background ~URB!

    }

    .tb-context-menu-module-item {

      max-width: 40vw; //Changed width to max-width and switched from 240px to 40vw ~URB!

      gap: .6em; //Uses em instead of pixels + slightly smaller gap ~URB!

    }

  }

}

@include media-control;
@include wlan-control;